<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="twitter.com"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div class="f-info-brand"><i class="fa-regular fa-copyright"></i>Airbnb private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>