<% layout('/layout/boilerplate') -%>

<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Enter the username:- </label>
                    <input type="text" id="username" name="username" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Enter the password:- </label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button class="btn btn-dark add-btn mt-3 btn-submit">Submit</button>
            </form>
        </div>
    </div>
</body>